body {
	font-family: Arial, sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
}

header {
	position: relative;
	background-color: #333;
	color: #4D4DAE;
	padding: 30px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}
nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.intro {
    display: marker;
	flex-direction: column;
	margin-top: 0px;
    background-color: steelblue;
    color: whitesmoke;
    text-align: center;
	padding: 20px;
}

.logo {
	  width: 40px;
	  height: 40px;
	  float: left;
  }

.search-container {
	background-color: lightslategrey;
	height: 100%;
	width: fit-content;
	position: fixed;
	padding-top: 15px;
}
.search-container {
	float: left;
	display: marker;
	width: fit-content;
	height: 100%;
	background-color: grey;
    height: 50px;

}

.location-form input[type=text] {
  padding: 6px;
  margin-top: 8px;
margin-left: 10px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
	padding: 6px;
  margin-top: 8px;
  margin-right: 17px;
  background: steelblue;
  font-size: 17px;
  border: none;
  cursor: pointer;
	border-radius: 5px;
}

.location-form .search-container button:hover {
  background: #ccc;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 500px;
}

.Nutritionist {

    background-color: steelblue;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: 400px;

}

.View-status {
    background-color: steelblue;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: 260px;

}

.Explore {
    background-color: steelblue;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: 220px;

}

.Explore h2, .Nutritionist h2,.View-status h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.Explore p, .Nutritionist p,.View-status p {
    font-size: 18px;
	text-align: center;
    margin-bottom: 20px;
    color: lightgrey;
}

.Explore button, .Nutritionist button,.View-status button {
    background-color: whitesmoke;
	width: fit-content;
    color: gray;
	text-align: center;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;

}

.Explore button:hover, .Nutritionist button:hover,.View-status button:hover {
   background-color: greenyellow;
   color: #fff;
}

.container-row {
  display: flex;
  justify-content: space-between;

}

.containerNumber, .containerMeeting, .containerEmail {

  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.hidden {
  display: none;
}

.containerMeeting {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro h1, .intro p {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

