<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Sign Up</title>
            <link rel="stylesheet" href="contactUs.css">
    </head>
    <body>
        <header>
			<nav>
					<img class="logo" src = "logo.png", alt="LOGO">
					<ul>
						<li><a href="homePage.html">Home</a></li>
						<li><a href="login.html">Log In</a></li>
						<li><a href="signup.html">Sign Up</a></li>
					</ul>
				</nav>
		</header>
        <section class="contact-form">
			<h1>Contact Us</h1>
			<p> We are here for you!<br> Book A meeting with a Nutrition!</p>
		</section>
		<section class="details">
			<form>
				<br /><label id="First Name">First Name:</label>
				<input type="First Name" placeholder="First Name" ><br />

				<label id="Last Name">Last Name:</label>
                <input type="Last Name" placeholder="Last Name" ><br />

				<label id="Email">Email:</label>
				<input type="Email" placeholder="Email" ><br />

              <label id="Phone">Phone:</label>
				<input type="Phone" placeholder="Phone Number" ><br />

				<label id="Content">Content:</label>
				<input type="Content" placeholder="Please fill in your intake here" ><br />

				<label for="Book-Meeting">Book Meeting:</label>
					<select id="Book-Meeting" name="workout_habits">
					  <option value="No">No</option>
					  <option value="Yes">Yes</option>
					</select>
					<div id="booking-form-container" class="hidden">
					  <form id="booking-form">
						<label for="datetime-input">Select Date and Time:</label>
						<input id="datetime-input" type="datetime-local">
					  </form>
					</div>

                <button class="SUBMIT"><b>SUBMIT</b></button>

			</form>
			<p>Already a member? <a href="login.html">Login here</a></p>
		</section>
	<script src="contactUs2.js"></script>
    </body>
</html>