<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Contact</title>
            <link rel="stylesheet" href="contactUs.css">
    </head>
    <body>
        <header>
			<nav>
					<img class="logo" src = "logo.png", alt="LOGO">
					<ul>
						<li><a href="homePage.html">Home</a></li>
						<li><a href="login.html">Log In</a></li>
						<li><a href="signup.html">Sign Up</a></li>
					</ul>
				</nav>
		</header>
        <section class="contact-form">
			<h1>Contact Us</h1>
			<p> We are here for you! Please don't hesitate to reach out</p>
		</section>
		<section class="details">
			<form>
				<br /><label id="First Name">First Name:</label>
				<input type="First Name" placeholder="First Name" required><br />

				<label id="Last Name">Last Name:</label>
                <input type="Last Name" placeholder="Last Name" required><br />

				<label id="Email">Email:</label>
				<input type="Email" placeholder="Email" required><br />

				<label id="Content">Content:</label>
				<input type="Content" placeholder="Please fill in your intake here" required><br />

                <button class="SUBMIT"><b>SUBMIT</b></button>

			</form>

			<p>Already a member? <a href="login.html">Login here</a></p>

		</section>
    </body>
</html>