<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
            <title>FIND GYM</title>
            <link rel="stylesheet" href="findGym.css">
</head>
<body>
        <header>
                    <nav>
                        <ul>
				<li><a href="homePage.html">Home</a></li>
				<li><a href="login.html">Log In</a></li>
				<li><a href="signup.html">Sign Up</a></li>
				<li><a href="Workout.html">Workouts</a></li>
				<li><a href="Nutrioin.html">Nutrition</a></li>
                        </ul>
                    </nav>
        </header>
        <section class="intro">
            <h1>FIND GYM AROUND YOU</h1>
            <p>As part of the FUEL & FIT family we'd like to help you find the closest gym to your house
            so please provide us some info so we can find the best match for you :)</p>
        </section>
        <section class="location-form">
                <div class="search-container">
                      <input type="text" placeholder="Search by city.." name="search">
                        <a href="results.html"> <button type="button"><b>SEARCH</b></button></a>
                </div>

            <div class="services-container">
                 <div class="Explore">
                <h2>Explore together</h2>
                <p> Have you called your nutrition guide already?</p>
                <button id="call">CALL HERE</button>
                <button id="email">SEND EMAIL</button>
            </div>
            <div class="View-profile">
                <h2>View status</h2>
                <p> By clicking the button below <br>
                    you can view your current stats and edit info</p>
                <button id="view">VIEW YOUR PROFILE</button>
                <button id="change">MAKE CHANGES</button>
            </div>
            </div>

        </section>
</body>
</html>