<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FUEL&FIT - Home</title>
	<link rel="stylesheet" href="homePage.css">
</head>
<body>
	<header>
		<nav>
			<img class="logo" src = "logo.png", alt="LOGO">
			<ul>
				<li><a href="homePage.html">Home</a></li>
				<li><a href="login.html">Log In</a></li>
				<li><a href="signup.html">Sign Up</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="hero">
			<h1>FUEL&FIT</h1>
			<p>Your ultimate fitness partner</p>
			<a href="signup.html" class="cta">Get started</a>
		</section>

		<section class="features">
		  <h2>Our Features</h2><br />
		  <div class="feature-boxes">
			<div class="feature-box">
			  <img src="workout.png" alt="Workout">
			  <h3>Personalized Workouts</h3>
			  <p>Get a custom workout plan that matches your fitness goals and preferences.</p>
			</div>
			<div class="feature-box">
			  <img src="diet.png" alt="Diet">
			  <h3>Nutrition Plans</h3>
			  <p>Get a personalized meal plan designed to help you reach your fitness goals.</p>
			</div>
			<div class="feature-box">
			  <img src="explore-icon.jpg" alt="Explore">
			  <h3>Additional Services</h3>
			  <p>If you want to explore more, we provide you an option of finding your nearest gym or talking to one of our nutrition agents</p>
			</div>
		  </div>
		</section>

	</main>

	<footer>
		<p>&copy; 2023 FUEL&FIT. All rights reserved.</p>
	</footer>
</body>
</html>
