<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>FUEL&FIT - Log In</title>
		<link rel="stylesheet" href="login.css">
	</head>
	<body>
		<header>
			<nav>
				<img class="logo" src = "logo.png", alt="LOGO">
			<ul>
				<li><a href="homePage.html">Home</a></li>
				<li><a href="signup.html">Sign Up</a></li>
				<li><a href="contactUs.html">Contact</a></li>

			</ul>
			</nav>
		</header>
		<section class="login-form">
			<h1>Log In</h1>
			<form>
				<input type="text" placeholder="Username">
				<input type="password" placeholder="Password">

				<button type="submit"><a href="homePage2.html"> Log In </a></button>

			</form>
			<p>Don't have an account? <a href="signup.html">Sign up</a></p>
		</section>

	</body>
</html>
