<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Sign Up</title>
            <link rel="stylesheet" href="nextStep.css">
    </head>
    <body>
        <header>
			<nav>
				<img class="logo" src = "logo.png", alt="LOGO">
			<ul>
				<li><a href="homePage.html">Home</a></li>
				<li><a href="login.html">Log In</a></li>
				<li><a href="contactUs.html">Contact</a></li>
			</ul>
			</nav>
		</header>
        <section class="signup-form">
			<h1>We're almost finished!</h1>
			<p> We want to get to know you better, so we can fit you the best program for you</p>
		</section> <br />
		<section class="details">
             <form id="info-form">
                  <label for="weight">Weight (in KG):</label>
                  <input type="number" id="weight" name="weight" max="180" required><br />

                  <label for="height">Height (in CM):</label>
                  <input type="number" id="height" name="height" max="220" required><br />

                  <label for="gender">Gender:</label>
                      <select id="gender" name="gender" required>
                        <option value="">--Select--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                      </select><br />

                  <label for="workout_habits">Workout Habits:</label>
                      <select id="workout_habits" name="workout_habits" required>
                        <option value="none">None</option>
                        <option value="light">Light</option>
                        <option value="moderate">Moderate</option>
                        <option value="heavy">Heavy</option>
                      </select></div> <br />

                    <label for="fitness_goal">Fitness Goal:</label>
                      <select id="fitness_goal" name="fitness_goal" required>
                        <option value="">--Select--</option>
                        <option value="weight_loss">Weight Loss</option>
                        <option value="muscle_gain">Muscle Gain</option>
                        <option value="general_fitness">General Fitness</option>
                      </select><br />

                <label for="preferred_activities">Preferred Activities:</label>
                  <select id="preferred_activities" name="preferred_activities" required>
                    <option value="">--Select--</option>
                    <option value="running">Running</option>
                    <option value="weightlifting">Weightlifting</option>
                    <option value="yoga">Yoga</option>
                    <option value="pilates">Pilates</option>
                    <option value="cycling">Cycling</option>
                    <option value="swimming">Swimming</option>
                  </select><br />

                <label for="time_commitment">Time Commitment:</label>
                    <select id="time_commitment" name="time_commitment" required>
                    <option value="">--Select--</option>
                    <option value="less_than_30">Less than 30 minutes/day</option>
                    <option value="30_to_60">30 to 60 minutes/day</option>
                    <option value="60_to_90">60 to 90 minutes/day</option>
                    <option value="more_than_90">More than 90 minutes/day</option>
                    </select><br />

                <label for="dietary_restrictions">Dietary Restrictions:</label>
                  <select id="dietary_restrictions" name="dietary_restrictions" required>
                    <option value="">--Select--</option>
                    <option value="none">None</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="vegan">Vegan</option>
                    <option value="paleo">Paleo</option>
                    <option value="gluten_free">Gluten-free</option>
                    <option value="dairy_free">Dairy-free</option>
                  </select><br />

				<a href="homePage2.html">
				  <button type="button"><b>SIGN UP</b></button>
				</a>

        </form>

		</section>
    </body>
</html>