<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
            <title>Nutritionist Advice</title>
            <link rel="stylesheet" href="NutritionistAdvice.css">
  
</head>
<body>
        <header>
                    <nav>
                        <img class="logo" src = "logo.png", alt="LOGO">
                        <ul>
                            <li><a href="homePage2.html">Home</a></li>
                            <li><a href="contactUs.html">Contact</a></li>
                            <li><a href="Status.html">Status</a></li>
                            <li><a href="Workout.html">Workout</a></li>
                            <li><a href="Nutrioin.html">Nutrioin</a></li>
                        </ul>
                    </nav>
        </header>
        <section class="intro">
            <h1>Special Services</h1>
            <p>Need to find a Gym ?<BR>
            Need to talk to a nutrition guide ?<BR>
            As part of the FUEL & FIT family, we want to help you achieve your goal!<BR>
           Here you can find a nearby gym or talk wih professional nutritionist.</p>

        </section>
        <section class="location-form">
            <div class="services-container">
                <div class="Explore">
                    <h2> Find a nearby GYM</h2>
                    <a href="findGym.html"> <button type="button"><b>SEARCH</b></button></a>
                </div>

                 <div class="Nutritionist">
                <h2>Communication Means</h2>
                <p> Have you make a contact with your nutrition guide already?</p>
                     <div class="container-row">
                      <div class="containerNumber">
                         <button id="show-number">Call Here</button>
                        <pCall id="phone-number" class="hidden">555-1234</pCall>
                          </div>
                      <div class="containerEmail">
                         <button id="email">Send EMAIL</button>
                          <pEMAIL id="pEmail" class="hidden">@gmail.com</pEMAIL>
                          </div>
                      <div class="containerMeeting">
                       <a href="contactUs2.html"> <button id="book-meeting">Book Meeting</button></a>

                        </form>
                            <div id="message" class="hidden">Meeting saved</div>
                      </div>
                    </div>


                 </div>
                <div class="View-status">
                     <h2>View status</h2>
                     <p>You can view your current status and edit info</p>
                     <button id="view"><a href="Status.html">View Status</a></button>
                    <button id="change"><a href="nextStep.html">Make Changes</a></button>
                </div>

            </div>

        </section>
        <script src="NutritionistAdvice.js"></script>

</body>
</html>